body {
  font-family: 'Calligraffitti', sans-serif;
  font-weight: 700;
}

.navbar {
  margin-bottom: 0;
}

.jumbotron {
  padding: 100px 0;
  margin: 0;
}

.slide-1 {
  margin-left: 300px;
  background-size: cover;
}
