/* STYLE PRESETS DO NOT ALTER THIS SECTION */
h1, h2, h3, h4, h5, h6 {
    margin-top:10px;
}

p {
    font-size:16px;
}

.fab, .far {
    font-size:30px;
    margin-left:5px;
    margin-right:5px;
}

/* PLACE YOUR CUSTOM CODE HERE */
.navbar {
  margin: 0;
}

.brand p {
  font-family: 'Satisfy', cursive;
}

.jumbotron {
  background-size: cover;
  background-image: url("../img/hero2.PNG");
  height: 400px;
  width: 100%;

}

.banner {
  padding-top: 100px;
  color: #fff;
}

.container {
  margin-top: 200px;
  margin-bottom: 200px;
}

.img-resize {
  width: 100%;
}

.product {
  padding-top: 20px;
}

.sidebar {
  padding-bottom: 80px;
}

#bottom {
  margin-top: 100px;
  padding: 100px 0;
  background-color: #f4f4f4;
}

.footer {
  background-color: #000;
  padding: 100px 0;

}

.icon {
  color: #fff;
  margin-left: 25px;
}
